p1{
    text-align:left;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
p2{
    text-align:left;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
p3{
    text-align:left;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
p4{
    text-align:left;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
p5{
    text-align:left;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
p6{
    text-align:left;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
p7{
    text-align:left;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
