.buttons{
    text-align: center;
    font-size: 40pt;
    color: aliceblue;
    flex-direction: column;
    font-family:sans-serif;
}
.btn-1{
    background-color: rgb(152, 5, 215);
    text-decoration: none;
    position: relative;
    color: aliceblue;
    font-family:sans-serif;
    font-style: italic;
    border-radius: 3px;
    transition: transform 0.5s ease;
    align-items: center;
    font-size: 40px;
}
.btn-1 a span{
    width:  0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: purple;
    z-index: -1;
    transition: 0.5s;
}
.btn-1:hover{
    background-color: rgb(174, 0, 255);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5), -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
}

td:hover {
    background-color: rgb(121, 0, 214);
    color: aliceblue;
}
tr{
    background-color: rgb(121, 0, 214);
    color: aliceblue;
}
body{
    background-color: grey;
}
